# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
.venv*
Flower/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.lib/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Data and models
data/
*.pt
*.pth
.cache/

# Hugging Face cache
.cache/huggingface/

# OS files
.DS_Store
Thumbs.db
